{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
 <h1>{{message}}</h1>
{% endif%}
<ul class="list-group list-group-flush">
  {% for item in items %}
    <li class="list-group-item">
      <a href="{% url 'item' item.title %}">
        <div class="row">
          <div class="col-2">
            <img  class="rounded float-left" style="width: 200px; height:200px;"src="{{item.picture}}" alt="{{listing.title}}">
          </div>
          <div class="col-3">
            <p>{{item.title}}</p>
            <p>{{item.description}}</p>
            <p>Current Price: {{item.starting_bid}}</p>
          </div>
        </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}
